extends layout

block content
  h1= title
  p Welcome to #{title}

  div(ng-controller='indexCtrl')
    div
      form(action='/scrapeStart', method='get')
        input(type='submit', value='Scrape Start')

    div
      form(action='/scrapeStop', method='get')
        input(type='submit', value='Scrape Stop')

    div
      form(action='/scrapeQuit', method='get')
        input(type='submit', value='Scrape Quit')

    div
      form(action='/scrapeSetQuery', method='get')
        input(type='text', name='scrapeQuery')